#MB_overlay {
	position: absolute;
	margin: auto;
	top: 0;	left: 0;
	width: 100%; height: 100%;
	z-index: 9999;
	background-color: #000!important;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
}
#MB_overlay[id] { position: fixed; }

#MB_window {
	position:absolute;
	top: 0;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	text-align:left;
	z-index:10000;
}
#MB_window[id] { position: fixed!important; }

#MB_frame {
	position:relative;
	border-style: solid;
	border-width: 0 1px 1px 1px;
	height:100%;
}

#MB_header {
  margin:0;
  height: 28px;
}

#MB_content {
  padding:6px 12px;
  overflow:auto;
}

#MB_caption {
  font-size:85%;
  font-weight: bold;
  padding: 6px 0 0 5px;
  margin: 0;
  text-align: left;
}

#MB_close {
  display:block;
  position:absolute;
  right:0; top:0;
  padding:7px 5px;
  font-weight:bold;
  text-decoration:none;
  font-size:11px;
}
#MB_close:hover {
	background:transparent;
}

/* Color scheme */
#MB_window {
  border-color:#DEE0E5;
  background-color:#FFF;
  color:#000;
}

#MB_frame { border-color:#979CB6 }

#MB_header {
  background-color:#F9F9FF;
  border-color:#DDE;
}
#MB_caption { color:#000 }

#MB_close { color:#99B }
#MB_close:hover { color:#000 }