body {
	padding:0;
	margin:0;
	font:12px Arial, Helvetica, sans-serif;
	line-height:130%;
	color:#333;
	text-align:center;
	background:#FFF;
	height:auto;
	font-size:x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size:small;
}


/* General definitions */
a { color:#06C; }
a:visited { color:#A9D; }
a:hover { color:#C63 }
a img { border:0px solid }

h2 {
	margin:1.5em 0 .5em;
	font-size:155%;
	font-weight:bold;
	color:#6D83AB;
}

p {
	margin:.75em 0;
	line-height:1.5;
}

ol li, ul li { margin:.5em 0; }
ul li { list-style:square; }

code {
	padding:.15em;
	font-size:100%;
	border-bottom:1px dotted #FFCC66;
	background-color:#FFFFCC;
}

pre {
	margin:.5em 0;
	padding:.5em;
	font-size:100%;
	border:1px solid #D3DAE4;
	background-color:#F4F6F8;
	width:100%;
	overflow:hidden;
}

/* General Layout */
#page {
	position:relative;
	margin:0 auto;
	text-align:left;
	width:700px;
}

#container {
	position:relative;
	background:#FFF;
	z-index:1;
}
#container:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html #container { height: 1%; }
/* End hide from IE-mac */



/* Rounded block styles */

.xtop, .xbottom { display:block; background:transparent; font-size:1px; }
.xb1, .xb2, .xb3, .xb4 { display:block; overflow:hidden; }
.xb1, .xb2, .xb3 { height:1px; }
.xb1 { margin:0 5px; }
.xb2 { margin:0 3px; border-width:0 2px; }
.xb3 { margin:0 2px; }
.xb4 { height:2px; margin:0 1px; }
.xboxcontent {
	position:relative;
	padding:0;
	margin:0;
	border-width:0px 1px 0 1px;
}


/* Rounded block presentation */
.xb2, .xb3, .xb4 {
	background:#FFF;
	border:0px solid #D3DAE4;
	border-width:0 1px 0 1px;
}
.xbottom .xb2, .xbottom .xb3, .xbottom .xb4 { background:#FFF; }
.xb1 { background:#D3DAE4;  }
.xb2 { border-width:0 2px; }
.xboxcontent {
	background:#FFF;
	border:1px solid #D3DAE4;
	border-top:1px solid #FFF;
	border-bottom:1px solid #FFF; }
.block-content {
	border:0px solid;
	background:none;
}

/* Header section */
#header {
	position:relative;
	margin:30px 10px 0;
	text-align:center;
}

	#header .xb2, #header .xb3, #header .xb4 {
		background:#F4F6F8;
		border:0px solid #F4F6F8;
		border-width:0 1px 0 1px;
	}
	#header .xbottom .xb2, #header .xbottom .xb3, #header .xbottom .xb4 { background:#F4F6F8; }
	#header .xb1 { background:#F4F6F8;  }
	#header .xb2 { border-width:0 2px; }
	#header .xboxcontent {
		border-color:#F4F6F8;
		background:#F4F6F8;
	}

/* Logotype */
#logo {
	position:relative;
	display:block;
	margin:0 auto -15px;
	top:-14px;
	padding:0;
	width:392px;
	height:91px;
	overflow:hidden;
}
	#logo a {
		position:relative;
		display:block;
		width:392px;
		height:91px;
	}
	#logo a .image {
		position:absolute;
		left:0; top:0;
		display:block;
		width:392px;
		height:91px;
		background:url(../images/logo.gif) left top no-repeat;
	}

/* Main navigation*/

#mainnav {
	border-bottom:1px solid #D3DAE4;
}
#mainnav:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html #mainnav ul { height: 1%; }
/* End hide from IE-mac */
	
	#mainnav ul {
		position:relative;
		margin:0 136px;
		margin-top:-5px;
		padding:0;
	}
	#mainnav li {
		padding:0;
		margin:0;
		display:inline;
		list-style:none;
	}
	#mainnav li a {
		display:block;
		float:left;
		padding:.5em 0;
		width:120px;
		border-left:1px solid #EEF;
		text-align:center;
	}
	#mainnav li a.last {
		border-right:1px solid #EEF;
	}
	#mainnav li a:hover {
		background-color:#E4E8ED;
	}
	
	#mainnav li a.current {
		font-weight:bold;
		text-decoration:none;
		color:#000;
		background-color:#F4F6F8;
		cursor:default;
	}


/* Content Area */
#content {
	margin:2em;
}

/* Version log */
#version_log dt {
	position:relative;
	float:left;
	margin-right:-3.5em;
	font-size:85%;
	font-weight:bold;
	color:#999;
}

#version_log dd {
	margin:1em;
	margin-left:3.5em;
}

/* Download block */
.download {
	padding:1em;
	padding-left:60px;
	border:2px solid #D3DAE4;
	background:#F4F6F8 url(../images/download.gif) 0 10px no-repeat;
}
		
		
/* Footer Section */
#footer {
	margin-top:10px;
	font-size:85%;
	color:#99C;
	text-align:center;
	background:url(../images/content-bottomline.gif) 50% 0 no-repeat;
}